@font-face {
   font-family: "Vazir";
   src: url("../fonts/Vazir.eot");
   /* IE9 Compat Modes */
   src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir.woff2") format("woff2"), url("../fonts/Vazir.woff") format("woff"),
      url("../fonts/Vazir.ttf") format("truetype");
   /* Safari, Android, iOS */
}

body {
   font-family: "Vazir" !important;
}

.icon {
   color: #0d6efd;
   background-color: #ebeafb;
   display: inline-flex;
   padding: 15px;
   border-radius: 15px;
}

.card-primary {
   background: #1b2a4e;
   color: white !important;
}

.bg-main {
   background-color: #1b2a4e;
}

.footer-link {
   text-decoration: none;
   color: #000;
}
.footer-header {
   border-bottom: 3px solid;
   height: 35px;
}

.footer-link:hover {
   color: #000;
}

#home-section {
   margin-top: 100px !important;
}

#contact-section {
   margin-top: 100px !important;
}

#product-section {
   margin-top: 70px !important;
   margin-bottom: 200px !important;
}

#prices-section {
   margin-top: 85px !important;
   margin-bottom: 200px !important;
}

#product-section .container .text-center p {
   margin-bottom: 60px !important;
}

.hover-class {
   transition: all 0.2s;
}

.hover-class:hover {
   cursor: pointer;
   transform: scale(1.02);
   box-shadow: 0px 0px 20px 0px black !important;
}
